table.customer-pending-reviews-table {
    td.product-image {
        text-align: center;

        img {
            width: 3em;
            height: auto;
            max-height: 3em;
        }
    }
}
