{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import single_section_form with context %}

{% macro render_info(label, value) %}
<div class="form-group form-content">
    <label class="control-label">{{ label }}</label>
    <div class="form-input-group d-flex position-relative">{{ value or "---" }}</div>
</div>
{% endmacro %}

{% block content %}
    {% call single_section_form("product_review_form", form) %}
        {% if form.instance.pk %}
            {{ render_info(_("Reviewer"), form.instance.reviewer.name) }}
            {{ render_info(_("Product"), form.instance.product) }}
            {{ render_info(_("Order"), form.instance.order.pk) }}
            {{ render_info(_("Rating"), form.instance.rating) }}
            {{ render_info(_("Would recommend?"), form.instance.would_recommend) }}
            {{ render_info(_("Comment"), form.instance.comment) }}
            {{ render_info(_("Status"), form.instance.status) }}
        {% else %}
            {% for field in form %}
                {{ bs3.field(field) }}
            {% endfor %}
        {% endif %}
    {% endcall %}
{% endblock %}
